#time-tracker-cnt{
	display: block;
	margin-top: 5px;

	.clk{		
		#time-tracker-cnt > .dft;
		border: 1px solid #ccc;
	}
	.bt{
		#time-tracker-cnt > .dft;
		cursor: pointer;
		border: 1px solid transparent;
		user-select: none;
		-webkit-user-select: none;

		&:hover{
			text-decoration: none;
		}

		&.bt-start{
  			color: #ffffff;
  			background-color: #428bca;
  			border-color: #357ebd;
  			&:hover, &:focus, &:active, &.active{
  				color: #ffffff;
  				background-color: #3276b1;
  				border-color: #285e8e;
  			}
		}
		
		&.bt-stop{
  			color: #ffffff;
			background-color: #d9534f;
			border-color: #d43f3a;
  			&:hover, &:focus, &:active, &.active{
  				color: #ffffff;
				background-color: #d2322d;
				border-color: #ac2925;
  			}
		}

		&.bt-reset{
  			color: #333333;
			background-color: #ffffff;
			border-color: #cccccc;
  			&:hover, &:focus, &:active, &.active{
				color: #333333;
				background-color: #ebebeb;
				border-color: #adadad;
  			}
		}
	}
	.dft{
		display: inline-block;
		margin: auto 3px 0;		
		padding: 5px 11px;
		line-height: 1.3;
		text-align: center;
		font-size: 14px;
		border-radius: 4px;
		white-space: nowrap;
		vertical-align: middle;
		font-weight: bold;
	}
}

@colorBackground:		#F0F8FF;

@colorBlueClean: 		#3498db;
@colorBlueDark: 		darken(#428bca, 5%);
@colorGreenClean:		#2ecc71;
@colorGreenDark:		#27ae60;

@minWidth:				300px;

#time-tracker-popup{
	*{
		box-sizing: border-box;
	}
	display: block;
	background: @colorBackground;
	min-width: @minWidth;

	h1{
		font-size: 18pt;
		color: @colorBlueDark;
		margin: 0;
		padding: 10px 5px 0;
	}

	.list{
		list-style: none;
		margin: 0;
		padding: 5px 5px 10px;
		font-weight: normal;
		font-size: 11pt;
		line-height: 2;

		li{
			display: list-item;
			width: 100%;
			margin: 5px 0;
			padding: 5px;
			list-style-type: none;

			text-align: justify;
			font-weight: bold;
			background: @colorBlueClean;

			border: 0;
			border-radius: 5px;
			border: 1px solid @colorBlueDark;

			#time-tracker-popup > .clearfix;

			a{
				text-decoration: none;
				color: white;

				&:hover{
					color: darken(white, 8%);
				}
			}
			.bt{
				padding: 4px 10px;
			}
			.bt-reset{
				#time-tracker-popup > .color-blue;
			}
		}
	}
	.color-blue{
		color: @colorBlueClean;
		&:hover{
			color: @colorBlueDark;
		}
	}

	//
	.hide{
		display: none;
	}
	.pull-right{
		float: right;
	}
	.clearfix {
		overflow: auto;
		zoom: 1;
	}
	.width-50p{
		width: 48%;
	}
}