@colorBackground:		#F0F8FF;
@colorBackgroundDark:	#DEE3F8;
@colorGray:				#aaa;

@colorBlueClean: 		#3498db;
@colorBlueMedium: 		#428bca;
@colorBlueDark: 		darken(#428bca, 5%);
@colorGreenClean:		#39D47B;
@colorGreenMedium:		#2ecc71;
@colorGreenDark:		darken(#2ecc71, 5%);

@minWidth:				350px;

#time-tracker-cnt{
	display: block;
	margin-top: 5px;

	.clk{		
		#time-tracker-cnt > .dft;
		border: 1px solid #ccc;
	}
	.bt{
		#time-tracker-cnt > .dft;
		cursor: pointer;
		border: 1px solid transparent;
		user-select: none;
		-webkit-user-select: none;

		&:hover{
			text-decoration: none;
		}

		&.bt-green{
  			color: #ffffff;
  			background-color: @colorGreenClean;
  			border-color: @colorGreenMedium;
  			&:hover, &:focus, &:active, &.active{
  				color: #ffffff;
  				background-color: @colorGreenMedium;
  				border-color: @colorGreenDark;
  			}
		}

		&.bt-start{
  			color: #ffffff;
  			background-color: #428bca;
  			border-color: #357ebd;
  			&:hover, &:focus, &:active, &.active{
  				color: #ffffff;
  				background-color: #3276b1;
  				border-color: #285e8e;
  			}
		}

		&.bt-config{
  			color: #ffffff;
  			background-color: #428bca;
  			border-color: #357ebd;
  			&:hover, &:focus, &:active, &.active{
  				color: #ffffff;
  				background-color: #3276b1;
  				border-color: #285e8e;
  			}
		}
		
		&.bt-stop{
  			color: #ffffff;
			background-color: #d9534f;
			border-color: #d43f3a;
  			&:hover, &:focus, &:active, &.active{
  				color: #ffffff;
				background-color: #d2322d;
				border-color: #ac2925;
  			}
		}

		&.bt-reset{
  			color: #333333;
			background-color: #ffffff;
			border-color: #cccccc;
  			&:hover, &:focus, &:active, &.active{
				color: #333333;
				background-color: #ebebeb;
				border-color: #adadad;
  			}
		}
	}
	.dft{
		display: inline-block;
		margin: auto 3px 0;		
		padding: 5px 11px;
		line-height: 1.3;
		text-align: center;
		font-size: 14px;
		border-radius: 4px;
		white-space: nowrap;
		vertical-align: middle;
		font-weight: bold;
	}
}





#time-tracker-popup{
	*{
		box-sizing: border-box;
	}
	display: block;
	background: @colorBackground;
	min-width: @minWidth;

	h1{
		font-size: 18pt;
		color: @colorBlueDark;
		margin: 0;
		padding: 10px 5px 0;
	}
	hr{
		border-top: none;
		border-bottom: 1px solid @colorBackgroundDark;
	}
	a{
		text-decoration: none;
		color: @colorBlueDark;
		&:visited{
			color: @colorBlueDark;
		}
	}
	dl{
		display: block;
		font-size: 11pt;
		margin: 3px 0;
		padding: 6px 8px 6px;
		background: #D7EAFA;
		border-bottom: 1px solid @colorBackgroundDark;
		dt{
			display: inline-block;
			margin: 0;
			padding: 0;
			width: 20%;
			text-align: left;
			font-weight: bold;
			color: @colorBlueMedium;
		}
		dd{
			display: inline-block;
			margin: 0;
			padding: 0;
			width: 55%;
			font-weight: bold;
			color: @colorGray;
		}
	}

	.list{
		list-style: none;
		margin: 0;
		padding: 5px 5px 10px;
		font-weight: normal;
		font-size: 11pt;
		line-height: 2;

		li{
			display: list-item;
			width: 100%;
			margin: 5px 0;
			padding: 5px;
			list-style-type: none;

			text-align: justify;
			font-weight: bold;
			background: @colorBlueClean;

			border: 0;
			border-radius: 5px;
			border: 1px solid @colorBlueDark;

			#time-tracker-popup > .clearfix;

			a{
				color: white;

				&:hover{
					color: darken(white, 8%);
				}
			}
			.bt{
				padding: 4px 10px;
			}
			.bt-reset{
				#time-tracker-popup > .color-blue;
			}
		}
	}
	.color-blue{
		color: @colorBlueClean;
		&:hover{
			color: @colorBlueDark;
		}
	}
	.actions{
		margin: 0 auto;
		padding: 5px 5px 10px;
		text-align: center;
		.bt{
			width: 40%;
			margin-left: 5%;
			&:first-child{
				margin-left: 0;
			}
		}
	}

	//
	.hide{
		display: none;
	}
	.pull-right{
		float: right;
	}
	.clearfix {
		overflow: auto;
		zoom: 1;
	}
	.width-50p{
		box-sizing: border-box;
		width: 48%;
	}
	.text-center{
		text-align: center;
	}
	.margin-0auto{
		margin: 0 auto;
	}
	.color-white{
		color: white;	
	}
	.opacity-50{
		opacity: 0.5;
	}
}