<dl class="width40">
	<dt>Task Name: </dt>
	<dd>{{taskName}}</dd>
</dl>
<dl class="width40">
	<dt>Task Number: </dt>
	<dd>{{taskNumber}}</dd>
</dl>
<dl class="width40">
	<dt>User Id (Redmine): </dt>
	<dd>{{userId}}</dd>
</dl>
<dl class="width40">
	<dt>Always Visible: </dt>
	<dd>{{alwaysVisible}}</dd>
</dl>
<dl class="width40">
	<dt>Running: </dt>
	<dd>{{started}}</dd>
</dl>
<dl class="width40">
	<dt>Time: </dt>
	<dd>{{timeFormatted}}</dd>
</dl>