<h1>
	<a href="{{taskUrl}}" title="{{taskNumber}}" target="_blank">Task {{taskNumber}}</a>
	<a data-id="{{taskNumber}}" class="bt bt-red pull-right time-tracker-popup-erase-time"><span class="glyphicon glyphicon-trash"></span></a>
</h1>
<hr/>
<div>
	<dl>
		<dt>Started: </dt>
		<dd>{{hasDateBackground}}</dd>
	</dl>
	<dl>
		<dt>Time: </dt>
		<dd>{{timeFormatted}}</dd>
	</dl>
</div>
<div class="actions">
	<a href="{{taskUrl}}" title="{{taskNumber}}" target="_blank" class="bt bt-blue">View Task</a>
	<a class="bt bt-reset bt-back-init">Cancel</a>
</div>