<h1>
	<a href="{{taskUrl}}" title="{{taskName}}" target="_blank">Task {{taskNumber}}</a>
	<span data-id="{{taskNumber}}" class="time-tracker-erase-area">
		<a class="bt bt-red pull-right time-tracker-popup-erase-time" title="Remove Task"><span class="glyphicon glyphicon-trash"></span></a>
		<a class="bt bt-gray pull-right time-tracker-popup-edit-time" title="Edit Task"><span class="glyphicon glyphicon-pencil"></span></a>
	</span>
</h1>
<hr/>
<div id="task-info">
</div>
<div class="actions">
	<a href="{{taskUrl}}" title="{{taskNumber}}" target="_blank" class="bt bt-blue">View Task</a>
	<a class="bt bt-reset bt-back-init">Back</a>
</div>