<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/normalize-v2-edited.css">
	<link rel="stylesheet" type="text/css" href="../css/time-tracker.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-glyphicons.css">	
	<script src="../js/jquery.js"></script>
	<script src="../js/popup.js"></script>
</head>
<body>
	<div id="time-tracker-popup">
		<div id="loader" class="hide">
			<img src="../images/loader.gif" title="Carregando, Aguarde..." alt="Carregando, Aguarde..." />
		</div>
		<div id="time-tracker-cnt" class="hide"></div>
	</div>
</body>
</html>